---
import { getEntry } from "astro:content";
import Main from "../layouts/Main.astro";
import Suplement from "../components/Suplement.astro";

const index = await getEntry("posts", "welcome");
---

<Main post={index}>
  <Suplement />
</Main>
